.App {
  height: 100%;
  width: 100%;
  background: url("3.jpg") no-repeat center;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  color: antiquewhite;
  text-shadow: 1px 1px 2px white, 0px 0px 10px white;
  margin-right: 10px;
}
.header-button {
  background-color: inherit;
  border-radius: 7px;
  height: 35px;
  font-size: large;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  color: antiquewhite;
  text-shadow: 1px 1px 2px white, 0px 0px 10px white;
}

.input-error {
  border-color: red;
  width: 140px;
  height: 25px;
  background: inherit;
  border-radius: 5px;
  margin-right: 10px;
}
.input {
  width: 140px;
  height: 25px;
  background-color: inherit;
  border-radius: 5px;
  border-color: white;
  margin-right: 10px;
  color: white;
}
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 15px;
}

.add-title {


}


