.backgroung {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("./images/backgr.jpg") no-repeat center;
}
.App {
  min-width: 600px;
  height:600px;
  border: 1px solid;
}
.title {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  color: #623f1a;
  text-shadow: 1px 1px 2px white, 0px 0px 10px white;
  margin-right: 10px;
}
.header-button {
  background-color: burlywood;
  border: none;
  border-radius: 7px;
  height: 35px;
  font-size: large;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  color: antiquewhite;
  text-shadow: 1px 1px 2px white, 0px 0px 10px white;
}

.input-error {
  border-color: red;
  width: 140px;
  height: 20px;
  background: inherit;
  border-radius: 5px;
  margin-right: 10px;
}
.input {
  width: 140px;
  height: 20px;
  background-color: #cfc2b2;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  color: white;
}
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 15px;
}



