.TodoList {
  width: 300px;
}


.todoList {
  max-width: 400px;
  margin: 0 auto;
  background-color: burlywood;
}

.todoList-header {
}

.todoList > div {
  padding: 5px;
}
.todoList-task {
}
.todoList-footer {
}
.filter-active {
  background-color: darkgreen;
}
.error {
  border-color: red;
}
.todoList-task.done {
  opacity: 0.5;
}
.delete {
  background: url("cross.svg") no-repeat center;
  background-size: contain;
  cursor: pointer;
  padding: 7px;
}