.Appp {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.todoList {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 450px;
  color: white;
  margin: 0 auto;
  background-color: inherit;
  border-radius: 15px;
  box-shadow: 0 0 10px 1px #87CEFA;
}

.header_title {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  text-decoration: underline;
}
.todoList > div {
  padding: 5px;
}

.filter-active {
  background-color: darkgreen;
}

.todoList-task.done {
  opacity: 0.5;
}
.todoList-task {
  display: flex;
}

.delete {
  background: url("cross.svg") no-repeat center;
  background-size: contain;
  cursor: pointer;
  width: 15px;
  height: 15px;
}
.header_tasks {
  display: flex;
  justify-content: center;
  align-items: center;
}
.deleteTodoList {
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  background: url("cancel.svg") no-repeat center;
  background-size: contain;
}